fastapi
uvicorn[standard]
sqlalchemy
pydantic
python-dotenv
langchain
langchain-community
langchain-google-genai
langchain-core
langchain-text-splitters
langgraph
transformers
torch
pymupdf
google-generativeai
chromadb
python-jose[cryptography]
curl-cffi
gunicorn
motor
jose
passlib
pytesseract
mediapipe
python-multipart
apify-client
opencv-python
numpy
beautifulsoup4
PyPDF2
bcrypt
certifi

